* {
  text-decoration: none;
  margin: 0;
}

body {
  background-color: #fcffe3;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Fantasy";
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: #e00022;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 20px;
}
header .logo {
  font-size: 32px;
  font-weight: bold;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
}
header nav {
  display: flex;
  place-items: center;
  gap: 10px;
  color: white;
}
header nav a {
  padding: 5px 10px;
}
header nav p {
  cursor: pointer;
  position: relative;
}
header nav p .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 140px;
  background-color: #fe5a4e;
  color: white;
  z-index: 999;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease, visibility 0.3s ease;
  pointer-events: none;
}
header nav p .dropdown:hover {
  display: grid;
}
header nav p:hover .dropdown {
  display: grid;
  pointer-events: auto;
  background-color: #e00022;
}
header .search-container {
  background-color: white;
  margin: 5px 10px;
  border-radius: 10px;
  border-style: none;
  padding: 10px;
  width: auto;
}
header .search-container input {
  border-style: none;
}
header .search-container input:focus {
  border-style: none;
}

main section.hero {
  color: #e00022;
  text-align: center;
  padding: 100px 20px 50px 20px;
  text-align: center;
}
main section.hero h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}
main section.hero p {
  font-size: 20px;
  font-style: italic;
  max-width: 600px;
  margin: auto;
}
main section.selection-section {
  padding: 30px 10px;
}
main section.selection-section h3 {
  color: #e00022;
  font-size: 20px;
  align-items: center;
  font-family: "Fantasy";
  margin: 20px auto;
  text-align: center;
}
main section.selection-section .Britain {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: auto;
  flex-wrap: wrap;
  gap: 5px;
}
main section.selection-section .Britain a {
  padding: 20px 10px;
  border-radius: 10px;
  border: 5px solid #ffcdb2;
  font-family: "Fantasy";
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
main section.selection-section .Britain a:hover {
  cursor: pointer;
}
main section.selection-section .Britain a img {
  width: 200px;
}
main section.selection-section .Britain a p {
  color: #e00022;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 5px 20px;
}
main section.selection-section .Britain a:nth-child(1) {
  background-color: #ffcdb2;
}
main section.selection-section .Britain a:nth-child(1):hover {
  background-color: whitesmoke;
  border-color: crimson;
}
main section.selection-section .Britain a:nth-child(2) {
  background-color: #ffcdb2;
}
main section.selection-section .Britain a:nth-child(2):hover {
  background-color: skyblue;
  border-color: blue;
}
main section.selection-section .Britain a:nth-child(3) {
  background-color: #ffcdb2;
}
main section.selection-section .Britain a:nth-child(3):hover {
  background-color: lawngreen;
  border-color: crimson;
}
main section.selection-section .Britain a:nth-child(4) {
  background-color: #ffcdb2;
}
main section.selection-section .Britain a:nth-child(4):hover {
  background-color: orange;
  border-color: green;
}
main section.selection-section .Britain a:nth-child(5) {
  background-color: #ffcdb2;
}
main section.selection-section .Britain a:nth-child(5):hover {
  background-color: gold;
  border-color: crimson;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  text-align: center;
}
.hero-image #englandhero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-image #englandhero img {
  width: 200px;
}
.hero-image #englandhero p {
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  margin-top: 10px;
  color: #e00022;
}

footer {
  color: aliceblue;
  background-color: #e00022;
  text-align: center;
  padding: 20px;
  font-family: "Fantasy";
}/*# sourceMappingURL=style.css.map */